.fullwidth {
    font-family: sans-serif;
    background-color: #fbf3f4;
    width: 100%;
  }
 
.masthead {
    height: 40em;
    margin-top: 0px;
  }
  
.masthead-background {
    background-size: cover !important;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  a:link {
    color: none;
  }