{{> menu active="dashboard"}}
<div class = container>
  <div class="columns is-centered">
    {{> list-placemarks}}
  </div>

  <div class="container mx-auto mt-4">
      {{> add-placemark}}
  <div class="card bg-base-100 shadow-xl p-10">
</div>