{{> menu}}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
        <h1 class="title is-1">{{placemark.name}}</h1>
    </div>
  </div>
</section>
<section class="section columns is-vcentered">
  <div class="column has-text-centered">
    <div>
      {{placemark.description}}
    </div>
    <br>
    <div class="title">
      Location
    </div>
    <br>
    <div>
      {{> map}}
    </div>
  </div>
  <div class="column">
    {{> placemark-image }}
  </div>
</section>

<div class="container mx-auto mt-4">
  {{> update-placemark}}


