
  <form action="/category/{{category._id}}/addplacemark" method="POST">
    <div class="field">  
      <label class="label">Location Name</label>
        <input class="input" type="text" placeholder="Enter Location" name="name">
    </div>
    <div class = "field">
      <label class="label">Coordinates </label>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <p class="control is-expanded has-icons-left">
            <input class="input" type="text" placeholder="Latitude" name="latitude">
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control is-expanded has-icons-left">
            <input class="input" type="text" placeholder="Longitude" name="longitude">
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </p>
        </div>
      </div>
    </div>
    </div>
    <div class="field">  
      <label class="label">Description</label>
        <textarea class="textarea" type="text" placeholder="Please enter a short description of the filming location" name="description"></textarea>
    </div>
    <button class="button is-link is-danger">Add Location</button>
  </form>
  <br>
  <br>
