
  <form action="/dashboard/addplacemark" method="POST">
    <div class="field">  
      <label class="label">Location Name</label>
        <input class="input" type="text" placeholder="Enter Location" name="name">
    </div>
    <div class = "field">
      <label class="label">Coordinates </label>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <p class="control is-expanded has-icons-left">
            <input class="input" type="text" placeholder="Latitude" name="latitude">
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control is-expanded has-icons-left">
            <input class="input" type="text" placeholder="Longitude" name="longitude">
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </p>
        </div>
      </div>
    </div>
    </div>
    <div class="field">  
      <label class="label">Associated Production</label>
        <select class="select" name="category">
          <option disabled selected>Select One</option>
          <option>Star Wars</option>
          <option>Game of Thrones</option>
          <option>Braveheart</option>
          <option>The Princess Bride</option>
          <option>Saving Private Ryan</option>
          <option>DisEnchanted</option>
          <option>The Quiet Man</option>
          <option>Vikings</option>
        </select>
    </div>
    <div class="field">  
      <p>To suggest a new production to add to the list, please enter it below</p>
      <br>
        <input class="input is-small" type="text" placeholder="Production Title">
    </div>
    <div class="field">  
      <label class="label">Description</label>
        <textarea class="textarea" type="text" placeholder="Please enter a short description of the filming location" name="description"></textarea>
    </div>
    <button class="button is-link is-red">Add Location</button>
  </form>
  <br>
  <br>
