<table class="table is-bordered is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Delete User</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <td> {{firstName}} </td>
      <td> {{lastName}} </td>
      <td> {{email}} </td>
      <td>
        <a href="/admin/deleteuser/{{_id}}" class="button">
          <span class="icon is-small"></span>
          <i class="fas fa-trash-alt"></i>
        </a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>